h2{
    color:rgb(119, 32, 170);
    /*text-decoration: underline dotted;*/
    font-family:'Times New Roman', Times, serif;
    text-align: left;
}

h1{
    color: indigo;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#poetas{
    color: #393bad;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17.5px;
    text-align: justify;
    margin: 40px;
}

#uno, #dos{
    background-color:  rgb(201, 235, 213);
}

#dif{
    color: rgb(21, 94, 19);
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

